<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProtocolUI-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ProtocolUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5A769C91B90BA350095BDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A769D31B90BA350095BDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A769E71B90BA500095BDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A769FD1B90BA700095BDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
